<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q04</title>

    <link rel="stylesheet" href="../static/css/style.css">
</head>
<style>

</style>
<body>
    <div class="card">
        <div class="top">
            <div class="title">
                <h2>대한민국 서울</h2>
            </div>
            <div class="content">
                <p1>1988년 올림픽 개최지인 서울입니다.
                    부지런한 국민성과 백의 민족의 긍지로써
                    이룩한 조국 근대화는 상업, 공업, 농업 등,
                    모든 분야에서 선진국과 어깨를 겨루고 있으며
                    2002년에는 대망의 월드컵을 일본과 공동 개최하여
                    세계 4위라는 영광의 금자탑을 쌓았습니다.</p1>
            </div>
        </div>
        <div class="bottom">
            <div class="cost">
                <img src="../static/img/Flag_of_South_Korea.png" alt="태극기">
                <p2>100만원</p2>
            </div>
        </div>
    </div>
</body>
</html>