<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Q03</title>

    <link rel="stylesheet" href="../static/css/style.css">

</head>
<body>
    <h1>어머! 이건 꼭 사야해!</h1>
    <div class="row">
        <div class="goods">
            <a href="Q03-1.html">
                <img src="../static/img/goods_01.png" alt="굿즈1" width="300px">
            </a>
            <p>Tiny Marsh Keyring</p>
            <p>6,500</p>
        </div>

        <div class="goods">
            <img src="../static/img/goods_02.png" alt="굿즈2" width="300px">
            <p>Peanut Quokka Keyring</p>
            <p>16,000</p>
        </div>
    </div>

</body>
</html>